<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABXBEHJU-VfMDwj7ekR6DuCD-NN3WSzeM</string>
	<key>GCM_SENDER_ID</key>
	<string>1083121123007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.demo.AuthAndStore</string>
	<key>PROJECT_ID</key>
	<string>authandstore-1575c</string>
	<key>STORAGE_BUCKET</key>
	<string>authandstore-1575c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083121123007:ios:f29ec132a8d9f67c0e100a</string>
</dict>
</plist>